


    <!-- Header Start -->

     <header class="topbar">
         <!-- LOGO -->
         <div class="topbar-left">
             <div class="left-content text-center">
                 <!--<a href="index.html" class="logo"><img src="../../assets/images/logo-icon-white.png"> <span>Rocks Admin </span></a>-->
             </div>
         </div>

         <!-- Mobile Menu -->
         <div class="navbar navbar-default" role="navigation">
             <div class="container">

              


                     <ul class="nav navbar-nav navbar-right pull-right">
                         <li class="dropdown hidden-xs">
                             <a href="javascript:void();" data-target="#" class="dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true"><i class="icon-envelope"></i><span class="badge badge-xs badge-info">4</span>
                             </a>
                             <ul class="dropdown-menu dropdown-lg message-box">

                                 <li class="message-title">You have 4 new messages</li>
                                 <li class="list-group">
                                    <!-- list item-->
                                    <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                            <img src="../../assets/images/users/avatar-1.jpg">
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">Asier Belaza </div>
                                             <p class="m-0">
                                                <small></small>
                                             </p>
                                             <p class="m-0">
                                                <small>10:20 AM</small>
                                             </p>
                                          </div>
                                       </div>
                                    </a>
                                    <!-- list item-->
                                     <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                            <img src="../../assets/images/users/avatar-2.jpg">
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">Sapna Chaudhary </div>
                                             <p class="m-0">
                                                <small>Dancing is my passion</small>
                                             </p>
                                             <p class="m-0">
                                                <small>11:20 PM</small>
                                             </p>
                                          </div>
                                       </div>
                                     </a>
                                     <!-- list item-->
                                     <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                            <img src="../../assets/images/users/avatar-12.jpg">
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">Virendra Kumar </div>
                                             <p class="m-0">
                                                <small>Hi, I am developing a admin theme</small>
                                             </p>
                                             <p class="m-0">
                                                <small>8:20 AM</small>
                                             </p>
                                          </div>
                                       </div>
                                     </a>
                                     <a href="javascript:void(0);" class="text-center text-info list-group-item">See All Messages <i class="icon-arrow-right"> </i></a>
                                 </li>

                             </ul>
                         </li>

                         <li class="dropdown hidden-xs">
                             <a href="javascript:void();" data-target="#" class="dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true">
                                 <i class="icon-bell"></i> <span class="badge badge-xs badge-info">3</span>
                             </a>
                             <ul class="dropdown-menu dropdown-lg">
                                 <li class="notification-title">Notifications</li>
                                 <li class="list-group">
                                    <!-- list item-->
                                    <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                             <i class="icon-people fa-2x text-info"></i>
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">New Registered Users </div>
                                             <p class="m-0">
                                                <small>Lorem ipsum dolor sit amet, consectetur</small>
                                             </p>
                                          </div>
                                       </div>
                                    </a>
                                    <!-- list item-->
                                     <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                             <i class="icon-cup fa-2x text-warning"></i>
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">New Received Orders</div>
                                             <p class="m-0">
                                                <small>Lorem ipsum dolor sit amet, consectetur</small>
                                             </p>
                                          </div>
                                       </div>
                                     </a>
                                     <!-- list item-->
                                     <a href="javascript:void(0);" class="list-group-item">
                                       <div class="media">
                                          <div class="media-left">
                                             <i class="icon-bell fa-2x text-rose"></i>
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading">New Updates</div>
                                             <p class="m-0">
                                                <small>Lorem ipsum dolor sit amet, consectetur</small>
                                             </p>
                                          </div>
                                       </div>
                                     </a>
                                     <a href="javascript:void(0);" class="text-center text-info list-group-item">See All Notifications <i class="icon-arrow-right"> </i></a>
                                 </li>

                             </ul>
                         </li>

                         <li class="dropdown">
                             <a href="javascript:void();" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="../../assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                             <ul class="dropdown-menu">
                               <li class="dropdown-user"><a href="javascript:void(0);">
                                       <div class="media">
                                          <div class="media-left">
                                            <img src="../../assets/images/users/avatar-1.jpg">
                                          </div>
                                          <div class="media-body clearfix">
                                             <div class="media-heading"><h5>Asier Belaza</h5></div>


                                          </div>
                                       </div>
                                 </a></li>
                               <li class="divider"></li>
                               <li><a href="javascript:void(0)"><i class="icon-envelope"></i>Inbox</a></li>
                               <li class="divider"></li>
                               <li><a href="javascript:void(0)"><i class="icon-wallet"></i>Balance</a></li>
                               <li class="divider"></li>
                               <li><a href="javascript:void(0)"><i class="icon-settings"></i>Settings</a></li>
                               <li class="divider"></li>
                               <li><a href="javascript:void(0)"><i class="icon-power"></i>Logout</a></li>
                             </ul>

                         </li>
                     </ul>

                 <!--/.nav-collapse -->
             </div>
         </div>
     </header>
     <!-- Header End -->
