
           <!-- ========== Start Left Sidebar ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="pull-left">
                      <!--    <img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">-->
                        </div>
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="javascript:void();" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Asier Belaza<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a [routerLink]="['table']"><i class="icon-user"></i>Table</a></li>

                                    <li><a [routerLink]="['login']"><i class="icon-power"></i>Logout</a></li>
                                </ul>
                            </div>

                            <p class="designation m-0">Programer</p>
                        </div>
                    </div>
                    <!--- Divider -->
                    <div id="sidebar-menu">

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- ========== Left Sidebar End ========== -->
